// pour importer des fichiers SCSS on passe par @use
// on peut omettre l'extension et l'underscore au début du nom du fichier
@use 'reset';
@use 'vars' as v;

@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body {
  font-family: 'Spartan', sans-serif;
  background-color: v.$color-alt;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
