@use 'src/styles/vars' as v;

.header{
  color: v.$color-light;
  text-align: center;
  background-color: v.$color-primary;
  padding: v.$gutter * 2;
  &__title{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: v.$gutter;
  }
  &__subtitle{
    font-weight: 300;
  }
}
