.result{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding: 2.5rem 1.5rem;

  &__value{
    color: #bb5432;
    font-weight: 700;
    font-size: 2rem;
  }

  &__unit{
    color: #bb5432;
    font-weight: 300;
    font-size: 1.2rem;
  }
}
